<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

    <title>Title</title>
</head>
<body>
<div class="border-bottom text-center py-9 px-10 chat-details-avt" th:fragment="chat-details-avt" >
    <!-- Photo -->
    <div class="avatar avatar-xl mx-5 mb-5">
        <img class="avatar-img" src="assets\images\avatars\10.jpg" alt="">
    </div>
    <h5>Anna Bridges</h5>
    <p class="text-muted">Bootstrap is an open source toolkit for developing web with HTML, CSS, and JS.</p>
</div>
</body>
</html>