<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="layout/layout :: main-fragment(~{:: title}, ~{}, ~{:: .layout }, ~{:: #js-account})">


    <head>

        <title>Reset Password</title>

    </head>

    <body>

        <div class="layout">

            <div class="container d-flex flex-column">
                <div class="row align-items-center justify-content-center no-gutters min-vh-100">

                    <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">

                        <!-- Heading -->
                        <h1 class="font-bold text-center">Password Reset</h1>

                        <!-- Text -->
                        <p class="text-center mb-6">Enter your email address to reset password.</p>

                        <!-- Form -->
                        <form class="mb-6" id="reset-password-form">

                            <!-- Email -->
                            <div class="form-group">
                                <label for="email" class="sr-only">Email Address</label>
                                <input type="email" class="form-control form-control-lg" id="email" placeholder="Enter your email">
                            </div>

                            <!-- Submit -->
                            <button class="btn btn-lg btn-block btn-primary send-otp-btn" type="submit">Send Reset Link</button>
                        </form>

                        <!-- Text -->
                        <p class="text-center">
                            Already have an account? <a href="./signin">Sign in</a>.
                        </p>

                    </div>
                </div> <!-- / .row -->
            </div>

            <!-- tách thành fragment -->
            <div class="modal fade " id="myModal">
                <div class="modal-dialog" style="margin-top: 10%">
                    <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h1 class="font-bold text-center modal-title">OTP</h1>
                                        <button type="button" class="btn-close bg-white border-0 " data-bs-dismiss="modal">❌</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="email" class="sr-only">nhập otp</label>
                                            <input type="text" class="form-control form-control-lg" id="otp" placeholder="Enter your otp">
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button class="btn btn-lg btn-block btn-primary confirm-otp-btn" type="button">xác nhận</button>

                                    </div>
                    </div>
                </div>
            </div>


            <!-- modal để đổi mật khẩu mới,tùy ae dùng web hay modal có thể tùy chỉnh -->
            <div class="modal fade" id="new-password-modal">
                <div class="modal-dialog" style="margin-top: 10%">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h1 class="font-bold text-center modal-title">New Password</h1>
                            <button type="button" class="btn-close bg-white border-0 " data-bs-dismiss="modal">❌</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="password" class="sr-only"></label>
                                <input type="password" class="form-control form-control-lg" id="password" placeholder="Enter new password">
                            </div>
                            <div class="form-group">
                                <label for="confirm-password" class="sr-only"></label>
                                <input type="password" class="form-control form-control-lg" id="confirm-password" placeholder="Enter confirm password">
                            </div>

                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button class="btn btn-lg btn-block btn-primary confirm-new-password-btn" type="button">xác nhận</button>

                        </div>


                    </div>
                </div>

            </div>
        </div>
    </body>



        <!-- .layout -->



    <th:block id="js-account">
        <script>
                $(document).ready(function () {
                    $('.btn-close').click(function () {
                        $('.modal').modal('hide');
                    })


                $(".send-otp-btn").click(function (event) {
                    event.preventDefault()

                    let resetForm = $('#reset-password-form');
                    resetForm.validate(
                        {
                            rules: {
                                email: {
                                    required: true,
                                    email: true
                                }
                            },
                            messages: {
                                email: {
                                    required: 'Please enter an email.',
                                    email: 'Please enter a valid email address.'
                                }
                            },
                            errorPlacement: function (error, element) {
                                let errorContainer = element.siblings('.error-container');
                                errorContainer.find('.error-message').html(error);
                                errorContainer.show();
                            },
                        })
                    let inputs = resetForm.find('input');
                    inputs.on('input', function () {
                        let input = $(this);
                        resetForm.validate().element(input);
                    });

                    let isValidCreatForm = $("#reset-password-form").valid()
                    if (!isValidCreatForm) {
                      return
                    }

                    // biến boolean kiểm tra email tồn tại
                    let emailExisted = {}
                    let email = document.getElementById("email").value;
                    console.log(email)
                    let formdata = {
                        email: email,
                    }


                    // lệnh show modal => ném vào khối khi email tồn tại thì sẽ show hư bên dưới
                    $('#myModal').modal("show")

                    $.ajax({
                        url: "/api/v1/users/email-check",
                        type: "POST",
                        contentType: 'application/json',
                        data: JSON.stringify(formdata),
                        success: function (response) {
                            // kiểm tra trên back end trả về true hoặc false
                            emailExisted = response
                            if (emailExisted === true) {
                                sendingEmail(email)
                                $('#myModal').modal("show")
                            }
                            else toastr.error("Email Không Tồn Tại Trong Hệ Thống")
                        },
                        error: function (xhr, status, error) {
                        }
                    })
                });
                });

                function sendingEmail(email) {
                    // api gửi email
                    $.ajax({
                        url: "/api/v1/users/" + email + "/otp-sending",
                        type: "POST",
                        contentType: 'application/json',
                        success: function (response) {
                            console.log("ok")
                        },
                        error: function (xhr, status, error) {
                        }
                    })
                }


                // kiểm tra otp
                $(".confirm-otp-btn").click(function (event) {
                    event.preventDefault()
                    let otp = $('.confirm-otp-btn').val()
                    let formData = {
                        otpCode: otp
                    }

                    $('#myModal').modal('hide')
                    $('#new-password-modal').modal('show');
                    $.ajax({
                        url: "/api/v1/authentication/verify-otp",
                        type: "POST",
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function (response) {
                            console.log(response)
                            // trên back end ae kiểm tra kiểu gfi cũng được
                            if (true) {
                                toastr.error("Mã Otp Không Chính Xác")
                            }
                            else if (true) {
                                toastr.error("Otp Đã Hết Hạn")
                            }
                            else {
                                // trường hợp thành công thì  đóng modal nhập otp và mở modal new password
                                // ae dùng web thì chuyển hướng
                                // $('#myModal').modal('hide')
                                // $('#new-password-modal').modal('show');
                            }
                        },
                        error: function (xhr, status, error) {
                        }
                    })
                })
        </script>
    </th:block>
</html>